---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Dashboard
  organizr:
    image: organizrtools/organizr-v2
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/organizr:/config
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"